ion-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ion-list ion-card {
  margin: 15px auto;
  justify-self: center;
}

ion-list ion-title {
  margin: auto;
}

ion-toolbar {
  display: flex;
  flex-direction: row;
}
