/* ion-content ion-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

ion-content ion-item ion-icon {
  size: 40px;
}

ion-item ion-text {
  margin: 400 40;
} */

.errorText {
  margin: auto;
}

ion-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

ion-item {
  border-width: 0;
}
